#u201-6{font-size:22px;margin-top: -125px; margin-left:-280px;font-family:sans-serif;line-height: 100%;}
#u202-6{font-size:16px;}
#style{font-weight:bold; color: #1F2542;}
#u221,#u423{margin-left:5px;}
#u4880{background-color:#89AFD6;height:294px;top:1480px;}
#u4880-bw{}
#u201-3{font-size:22px;margin-top:-271px; margin-right:-180px;font-family:sans-serif;line-height: 100%;}
#u202-3{font-size:16px;}
#u201-7{float:right;margin-top:-354px;margin-right: -500px;margin-left: 300px;font-size:22px;font-family:sans-serif;line-height:100%;}
#u202-7{font-size:16px;}
a:link {
    color: #1F2542;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: underline;
}